body {
    font-family: Arial, sans-serif;
    background: #65d6d2;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea,
  form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  form button:hover {
    background-color: #436ad3;
  }
  
  #responseMessage {
    margin-top: 15px;
    text-align: center;
    color: rgb(21, 131, 28);
  }
  